<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
          type='text/css'/>
    <style>
    </style>
    <title>Home</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CryptoLand | Survey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="survey.html">Survey <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
        </ul>
        <span class="navbar-text mr-3">
                Logged in as : $1
            </span>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" id="logout" type="submit">Logout</button>
        </div>
    </div>
</nav>
<div class="container-fluid mt-5">
    <div class="row ">
        <div class="col-9">
            <h2 class="display-4">Welcome</h2>
            <div class="row  mt-4">
                <div class="col-4 col-xs">
                    <div class="card text-white bg-dark">
                        <div class="card-body text-center">
                            <h1 class="card-title">150
                                <small>Acres</small>
                            </h1>
                            <h4 class="card-subtitle mb-2 text-muted">Land Surveyed</h4>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-xs">
                    <div class="card text-white bg-dark">
                        <div class="card-body text-center">
                            <h1 class="card-title">15</h1>
                            <h4 class="card-subtitle mb-2 text-muted">Surveys</h4>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-xs">
                    <div class="card text-white bg-dark">
                        <div class="card-body text-center">
                            <h1 class="card-title">2
                                <small>Months</small>
                            </h1>
                            <h4 class="card-subtitle mb-2 text-muted">Experience</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3  border-left border-dark">
            <h2>Details</h2>
            <table class="mt-5 table table-hover">
                <tr>
                    <td>Name</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>0415524</td>
                </tr>
                <tr>
                    <td>Service Start Date</td>
                    <td>15 Nov 2017</td>
                </tr>
            </table>
            <a class="btn btn-outline-dark" href="survey.html" role="button"> Survey </a>
        </div>
    </div>
</div>
</body>

<!--
 Surveyer ID
 Surveyer Name

 (Change Password)

 Surveyor Since
 Total Number of Surveys
 Acres Surveyed

-->