<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
          type='text/css'/>
    <style>
    </style>
    <title>Survey</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CryptoLand | Survey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Survey <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../about.html">About</a>
            </li>
        </ul>
        <span class="navbar-text mr-3">
                Logged in as : $1
            </span>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" id="logout" type="submit">Logout</button>
        </div>
    </div>
</nav>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<div class="container-fluid">
    <!-- Modal -->
    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Message goes here</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div id='map' style="top:5vh;height:80vh;"></div>
        </div>
        <div class="col-md-3 col-sm-12 mt-4 border-left border-dark">
            <div class="container-fluid">
                <form class="needs-validation" id="inputForm" novalidate>
                    <div class="form-group">
                        <label for="surveyNumber" class="col-form-label">Survey Number</label>
                        <div class="col-sm-12">
                            <input type="text" id="surveyNumber" class="form-control" placeholder="Survey Number"
                                   required>
                            <div class="invalid-feedback">
                                Please enter a survey number.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="landType" class="col-form-label">Land Type</label>
                        <div class="col-sm-12">
                            <select id="landType" class="form-control" required>
                                <option>Agriculture</option>
                                <option>Wet</option>
                                <option>Waste</option>
                                <option>Residential</option>
                                <option>Commercial</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a land type.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="boundaries">Boundaries</label>
                        <div class="col-sm-12">
                            <textarea id="boundaries" class="form-control readonly" style="resize: none;" rows="3"
                                      cols="5"
                                      required></textarea>
                            <div class="invalid-feedback">
                                Please choose an area from the map.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-success" id="saveBtn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
<script>
    'use strict';

    $(".readonly").on('keydown paste', function (e) {
        e.preventDefault();
    });

    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FnYXJrcyIsImEiOiJjanI2bXQxa20wMmR0NDJtczd6ZzAxaG05In0.hKpKurChhDYW0eo4R48wjw';
    /* eslint-disable */
    let map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/satellite-v9', //hosted style id
        center: [-91.874, 42.760], // starting position
        zoom: 12 // starting zoom
    });

    let draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            polygon: true,
            trash: true
        }
    });

    map.addControl(draw);
    let surveys = {};

    let showModal = (title, message) => {
        let modal = $('#warningModal');
        modal.find('.modal-body').text(title);
        modal.find('.modal-body').html(message);
        modal.modal();

    };

    map.on('load', () => {
        $.ajax({
            type: "POST",
            url: '/getSurveys',
            success: (response) => {
                if (!response.success) {
                    showModal("Error", "Failed to retrieve surveys");
                    return;
                }
                response.data.forEach((x) => {
                    surveys[x.boundaries.id] = x;
                    draw.add(x.boundaries);
                })
            },
            contentType: "application/json",
            dataType: "json"
        })
    });

    map.on('draw.create', (e) => {
        let json = JSON.stringify(e.features[0]);
        $("#boundaries").val(json)
    });

    map.on('draw.delete', (e) => {
        e.features.forEach(feature => {
            if (Object.keys(surveys).includes(feature.id)) {
                showModal("Warning", "Can not delete existing survey");
                draw.add(feature);
            }
        })
    });

    map.on('draw.update', (e) => {
        if (e.features.length === 0)
            return;
        if (Object.keys(surveys).includes(e.features[0].id)) {
            showModal("Warning", "Could not move existing survey");
            draw.delete(e.features[0].id);
            draw.add(surveys[e.features[0].id].boundaries)
        } else {
            console.log(e);
            let json = JSON.stringify(e.features[0]);
            $("#boundaries").val(json);
        }
    });

    map.on('draw.selectionchange', (e) => {
        if (e.features.length === 0)
            return;
        let inputs = [$('#surveyNumber'), $('#landType'), $('#boundaries')];
        let saveBtn = $("#saveBtn");
        if (Object.keys(surveys).includes(e.features[0].id)) {
            let current = surveys[e.features[0].id];
            let values = [current.surveyNumber, current.landType, JSON.stringify(current.boundaries)];
            inputs.forEach((x, i) => {
                x.prop('disabled', true);
                x.val(values[i]);
            });
            saveBtn.prop('disabled', true);
        } else {
            inputs.forEach((x) => {
                x.prop('disabled', false);
                if (x.attr("id") !== "boundaries")
                    x.val("");
                else
                    x.val(JSON.stringify(e.features[0]))
            });
            saveBtn.prop('disabled', false);
        }
    });

    $("#saveBtn").click((e) => {
        e.preventDefault();
        let form = $('#inputForm')[0];
        form.classList.add('was-validated');
        if (form.checkValidity() === false) {
            return
        }
        let threshold = 0;
        let input = $('#boundaries');
        let newSurvey = JSON.parse(input.val());
        let id = newSurvey.id;
        let intersections = [];
        Object.values(surveys).forEach(survey => {
            try {
                let intersection = turf.intersect(survey.boundaries, newSurvey);
                if (intersection)
                    intersections.push(survey.boundaries);
            } catch (e) {

            }
        });
        let intersectionArea = intersections.map(turf.area).reduce((x, y) => x + y, 0);
        if (intersectionArea >= threshold) {
            intersections.forEach(intersection => {
                newSurvey = turf.difference(newSurvey, intersection);
            })
        } else {
            draw.delete(id);
            showModal("Too much overlapping area, do the survey again");
            return;
        }
        newSurvey.id = id;
        //draw.delete(id);
        draw.add(newSurvey);
        let area = turf.area(newSurvey) * 1000000000;
        let boundaries = JSON.stringify(newSurvey);
        input.val(boundaries);
        $.ajax({
            type: "POST",
            url: '/saveSurvey',
            data: JSON.stringify({
                surveyNumber: $('#surveyNumber').val(),
                landType: $('#landType').val(),
                boundaries: boundaries,
                area: area
            }),
            success: (response) => {
                console.log(response);
                if (response.success) {
                    let x = response.data;
                    surveys[x.boundaries.id] = x;
                    showModal("Success", "Survey successfully added");
                } else
                    showModal("Failure", response.message);
            },
            error: () => {
                showModal("Failure", "Critical error");
            },
            contentType: "application/json",
            dataType: "json"
        });
    });

</script>
</body>

</html>