<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>About</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">CryptoLand</h1>
            <p class="lead">A Blockchain based Solution for Digitizing Land Transactions </p>
            <hr class="my-4">
            <table class="table table-hover lead">
                <tr>
                    <td colspan="3">Developed for Final Year Project of SJCE</td>
                </tr>
                <tr>
                    <td colspan="3">Developed by</td>
                </tr>
                <tr>
                    <td>Vinayaka K V</td>
                    <td>Vinyas N S</td>
                    <td>Sagar S K</td>
                </tr>
                <tr>
                    <td>4JC15CS129</td>
                    <td>4JC15CS130</td>
                    <td>4JC16CSxyz</td>
                </tr>
            </table>
                <button class="btn btn-outline-dark btn-lg lead" onclick="window.history.back()" role="button">Back</button>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>