<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
          type='text/css'/>
    <style>
    </style>
    <title>History</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">CryptoLand | History</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline needs-validation" id="inputForm" autocomplete="off">
        <label class="sr-only" for="surveyNumber">Survey Number</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">#</div>
            </div>
            <input type="text" class="form-control" id="surveyNumber" placeholder="Survey Number" required>
        </div>
    </form>
</nav>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<div class="container-fluid">
    <!-- Modal -->
    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Message goes here</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div id='map' style="top:5vh;height:80vh;"></div>
        </div>
        <div id="tree" class="col-md-5 col-sm-12 mt-4 border-left border-dark">
            <h1 class="display-4">Enter Survey Number to get started</h1>
        </div>
    </div>
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
<script>
    'use strict';

    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FnYXJrcyIsImEiOiJjanI2bXQxa20wMmR0NDJtczd6ZzAxaG05In0.hKpKurChhDYW0eo4R48wjw';
    /* eslint-disable */
    let map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/satellite-v9', //hosted style id
        center: [-91.874, 42.760], // starting position
        zoom: 14 // starting zoom
    });

    let draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            polygon: false,
            trash: true
        }
    });
    map.addControl(draw);
    let surveys = {};
    let showModal = (title, message) => {
        let modal = $('#warningModal');
        modal.find('.modal-body').text(title);
        modal.find('.modal-body').html(message);
        modal.modal();
    };


    $('#inputForm').submit((e) => {
        e.preventDefault();
        let form = $('#inputForm')[0];
        form.classList.add('was-validated');
        if (form.checkValidity() === false) {
            return
        }
        draw.deleteAll();
        $.ajax({
            type: "POST",
            url: '/getAssetHistory',
            data: JSON.stringify({
                'survey_number': $('#surveyNumber').val()
            }),
            success: (response) => {
                if (!response.success) {
                    showModal("Error", "Failed to retrieve surveys");
                    return;
                }
                let options = {
                    layout: {
                        hierarchical: {
                            direction: 'RL',
                            sortMethod: 'directed'
                        }
                    },
                    nodes: {
                        shape: 'box',
                        color: {
                            border: "#5E5E60",
                            background: "#ADADAF",
                            highlight: {
                                border: "#170D3D",
                                background: "#ADADAF",
                            },
                            hover: {
                                border: "5E5E60",
                                background: "#BDBDBF"
                            }
                        }
                    },
                    interaction: {
                        hover: true,
                        dragNodes: false
                    }
                };
                let nodes = new vis.DataSet({});
                let edges = new vis.DataSet({});
                nodes.add(response.data.nodes);
                edges.add(response.data.edges);
                let data = {
                    nodes: nodes,
                    edges: edges
                };
                let container = document.querySelector('#tree');
                let network = new vis.Network(container, data, options);
                network.on('click', (e) => {
                    let node_id = e.nodes[0];
                    if (!node_id)
                        return;
                    let survey = nodes.get(node_id);
                    survey.boundaries.properties.label = survey.label;
                    survey.boundaries.id = node_id;
                    draw.add(survey.boundaries);
                });
                map.on('draw.selectionchange', (e) => {
                    if (e.features.length === 0)
                        return;
                    let id = e.features[0].id;
                    network.selectNodes([id]);
                });
            },
            contentType: "application/json",
            dataType: "json"
        });
    });


    map.on('draw.update', (e) => {
        if (e.features.length === 0)
            return;
        showModal("Warning", "Could not move existing data");
        draw.delete(e.features[0].id);
        draw.add(surveys[e.features[0].id].boundaries)
    });


</script>
</body>

</html>