<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
          type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
</head>

<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CryptoLand | Government</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="register">Register Users <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="view">View Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="distribute">Distribute Land<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="window.location.href='/'">Logout</button>
        </div>
    </div>
</nav>
<div class="container-fluid mt-5">
    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Message goes here</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <h1 class="display-4"></h1>
        <div class="table-responsive">
            <table class="table text-center" style="margin: auto">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Public Key</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    let showModal = (title, message, reload = false) => {
        let modal = $('#warningModal');
        modal.find('.modal-body').text(title);
        modal.find('.modal-body').html(message);
        if (reload)
            modal.find('.btn').click(() => location.reload(1));
        modal.modal();
    };
    $(() => {
        let requests = [{
            type: "POST",
            url: '/getSystemUser',
            success: response => {
                if (!response.success)
                    return;
                $('.name').text(response.data.name);
                $('#key').text(response.data['pub.key'].substr(0, 6) + '...');
            }
        }, {
            type: "POST",
            url: '/getUserRequests',
            success: response => {
                if (!response.success) {
                    showModal("Error", response.message);
                    return;
                }
                if (response.data.length === 0) {
                    $(".table").hide();
                    $(".display-4").text("No requests...Come Later?");
                    return;
                }
                response.data.reverse().forEach((user, i) => {
                    $(".table tr:last").after(
                        "<tr>" +
                        `<td> ${i + 1} </td>` +
                        `<td class="key"> ${user.data.key} </td>` +
                        `<td> ${user.data.name} </td>` +
                        '<td> <select class="form-control"> <option> SURVEYOR </option> <option> USER </option> </select> </td>' +
                        '<td><button type="submit" class="btn btn-outline-success save_user">Save</button></td>' +
                        "</tr>"
                    )
                });
                $('select').val("");
            }
        }
        ];
        requests.forEach(request => $.ajax(request));
    });
    $('table').on('click', '.save_user', function () {
        let parent = $(this).closest("tr");
        let key = parent.find('.key').text();
        let type = parent.find('select').val();
        if (!type) {
            showModal("Error", `Must select a role for ${key.substr(0, 7) + '...'}`);
            return;
        }
        let old = $(this).html();
        $(this).prop('disabled', true);
        $(this).html(`<i class="fa fa-lg fa-circle-o-notch fa-spin"></i>`);
        $.ajax({
            type: "POST",
            url: '/registerUser',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                public_key: key,
                user_type: type
            }),
            success: (response) => {
                if (!response.success) {
                    showModal("Error", response.message);
                    return;
                }
                showModal("Success", "User registered successfully", true);
            },
            complete: () => {
                $(this).prop('disabled', false);
                $(this).html(old);
            }
        })
    })
</script>
</body>
</html>